.add-post{
    margin-bottom: 3rem;
    box-shadow: 0 15px 25px rgba($black, .45);
    background-color: $secondary;
    border-radius: 5px;
    padding: 1.5rem 2rem;

    @include breakpoint($mobile-bp){
        padding: 1.5rem;
    }
}

.add-post__form{
    display: flex;
    align-items: center;
}

.add-post__textarea{
    font-family: inherit;
    font-size: 1.5rem;
    color: $white;
    width: 75%;
    border: none;
    background: transparent;
    resize: none;
    height: 26px;
    flex-grow: 1;
    overflow: hidden;
    &::placeholder{
        color: #D2D2D2;
    }
}

.add-post__form-actions{
    display: flex;
    width: 12rem;
    justify-content: flex-end;
    flex-shrink: 0;

    @include breakpoint($mobile-bp){
        width: 9rem;
    }
}

.add-post__file{
    display: block;
    width: 4.4rem;
    height: 4.4rem;
    background: #EBEBEB
    url("../../images/add-icon.svg") center no-repeat;
    cursor: pointer;
    border-radius: 50%;
    transition: background-color .2s ease-in-out;
    &:hover{
        background-color: darken(#EBEBEB, 10%);
    }
    input{
        display: none;
    }
    // @include breakpoint($mobile-bp){
    //     width: 3.4rem;
    //     height: 3.4rem;
    // }
}

.add-post__send{
    margin-left: 1.5rem;
    display: block;
    width: 4.4rem;
    height: 4.4rem;
    border-radius: 50%;
    background-color: $blue;
    transition: background-color .2s ease-in-out;
    &:hover{
        background-color: darken($blue, 10%);
    }
}