.nav{
    &--mobile{
        display: none;
    }
    @include breakpoint($tablet-bp){
        display: none;
        &--mobile{
            display: block;
            margin: 3rem 0;
        }
    }
}

.nav__list{
    display: flex;
    @include breakpoint($tablet-bp){
        flex-direction: column;
    }
}


.nav__item{
    position: relative;
    transition: background-color .2s linear;
    &:hover{
        .nav__link{
            background-color: $blue;
            text-decoration: none;
        }

        > .subnav{
            display: block;
        }
    }
    
    @include breakpoint($tablet-bp){
        &:hover{
            .nav__link{background: none;}
        }
    }
}

.nav__link{
    display: block;
    font-size: 1.1rem;
    text-transform: uppercase;
    color: $white;
    padding: 1.35rem;
    line-height: 1.2;
    
    &.has-subnav{
        position: relative;
        padding-right: 3.5rem;
        &:after{
            position: absolute;
            content: '';
            display: block;
            border-style: solid;
            border-width: 6px 5px 0 5px;
            border-color: $white transparent transparent transparent;
            color: $white;
            top: 50%;
            right: 1.35rem;
            transform: translateY(-50%);
            margin-top: 1px;
        }
    }
    @include breakpoint($tablet-bp){
        padding-left: 0;
        margin-left: 0;
        font-size: 1.4rem;
    }
}

